/ *CSS /

div {
    background: url(https://www.choicehotels.com/cms/images/choice-hotels/colleges/589164-University-of-Southern-California/589164-University-of-Southern-California.jpg);
    background-size: 80px 60px;
    background-repeat: no-repeat;
}

div {
  text-align: center
}

body {
  background-image: url(https://www.choicehotels.com/cms/images/choice-hotels/colleges/589164-University-of-Southern-California/589164-University-of-Southern-California.jpg)
}

h1 {
  text-align:center;
}
<img a href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwikiNfuj-zNAhUQ62MKHXMEBZoQjRwIBw&url=http%3A%2F%2Fwww.mtv.com%2Fnews%2F2261185%2Fstar-wars-ewoks-kick-ass%2F&psig=AFQjCNGcC7IRFxdt6vSX_ljji3DrTeTUJw&ust=1468350997910991">

h2 {
  font-size: 255%; font-style: bold;color:white;text-align: center;
}
p { text-align: center; color: #cc0000; font-family: Helvetica; font-size: 150%;
  }

p {text-align: center;
  }

p {
     text-align: center;font-size: 150%;
   }
